:root {
  --gray: #c0c0c0;
  --darkGray: #00000060;
  --black: #000000;
  --white: #ffffff;
}

@font-face {
  font-family: "Tiny5";
  src: local("Tiny5"), url("./tiny5/tiny5-regular.ttf") format("truetype");
}

html {
  background-color: var(--gray);
  height: 100%;
}

p,
label {
  font-family: "Tiny5";
  font-size: 10px;
}

input {
  all: unset;
  font-family: "Tiny5";
  border: 1px solid var(--black);
}

form {
  display: flex;
  align-items: center;
}

/* Classes */
.selected {
  background-color: var(--darkGray);
}

.reversed {
  rotate: 180deg;
}

.spaced {
  margin-right: 5px;
}

.long {
  min-width: 50px;
}
.editable {
  background-color: var(--white);
}

.size0 {
  width: 30px;
}

.size1 {
  width: 60px;
}

.size2 {
  width: 90px;
}

.size3 {
  width: 180px;
}

/* All form styles */
.ft-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1px;
  width: 100%;
  padding: 3px;
}

.ft-sheet {
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.fts-line {
  display: flex;
}
.ft-button-list{
  padding: 3px;
  display: flex;
}
.blur{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--darkGray);
}

.popup{
  position: relative;
  height: 150px;
  width: 400px;  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  border: 2px solid var(--black);
}
.textbox{
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-textbox{
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.exit-button{
  position: absolute;
  top: 3px;
  right: 3px;
}
.checkbox-list{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 3px;
}